.mainPage {
  background: #444;
  color: #fafafa;
  padding-top: 24px;
}

.mainTitle {
  font-size: 48px;
  text-align: center;
}

header, section, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;
  width: 920px;
}

.sectionTitle {
  font-size: 42px;
}

/* Qualifitations */
.quals {
  
}



/* Center for educational qualifications */
.ceq {
  
}

.ceqButton {
  border: none;
  background: linear-gradient(45deg, #5400a8, #be7dff);
  font-size: 48px;
  padding: 18px 32px;
  color: #fff;
  border-radius: 12px;
}
.ceqButton:hover {
  background: linear-gradient(45deg, #5400a8ce, #be7dffce);
}

/* Documents */
.docs {
  
}

/* News */
.news {
  
}

.newsList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
  cursor: grab;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


.newsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  width: 220px;
  padding: 12px;
  border: #333;
  border: 2px solid #222;
  border-radius: 12px;
  margin: 0 12px;
}

.newsImg {
  width: 200px;
}

.newsButton {
  background-color: #222;
  color: #fafafa;
  border: none;
  width: 80px;
}

/* Contacts */
.contacts {
  width: 600px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Components */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  width: 200px;
  padding: 12px;
  border: #333;
  border: 2px solid #222;
  border-radius: 12px;
}

.card:hover {
  background: #222;
  cursor: pointer;
}

.cardImg {
  width: 180px;
  border-radius: 8px;
}

.cardText {
  font-size: 18px;
  text-align: center
}

.test__backBtn {
  position: absolute;
  left: 20%;
  top: 60px;
  text-decoration: none;
  outline: none;
  color: #fafafa;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 30px;
}

.test__backBtn:hover {
  color: #b9e9fa;
  border: 1px solid #b9e9fa;
}

.addingPage {
  background: #444;
  color: #fafafa;
  padding-top: 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}